.glasses-page {
  display: flex;
  gap: 20px;
  padding: 20px;

  .filter-section {
    width: 15%;
    background-color: #cecccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h3 {
      font-size: 18px;
      font-weight: bold;
      color: #333;
      margin-top: 20px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      
      & + ul {
        margin-top: 20px;
      }

      li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 15px;
        color: #555;
        position: relative;
        padding-left: 25px;

        input[type="checkbox"] {
          position: absolute;
          left: 0;
          top: 0;
          width: 18px;
          height: 18px;
          accent-color: #6a6c6c;
          cursor: pointer;
        }

        label {
          cursor: pointer;
        }
      }
    }
  }

  .product-section {
    width: 75%;

    .sort-section {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;

      label {
        font-weight: 500;
        color: #555;
        margin-right: 10px;
      }

      select {
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 14px;
      }
    }

    .product-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
    .product-grid a {
      text-decoration: none; 
      color: inherit; 
    }
    
    .product-grid a:hover {
      text-decoration: none;
    }
  }
}
